<!DOCTYPE html>
<html lang="en" ng-app="admin">
<head>
    <meta charset="UTF-8">
    <title>SpringDo Admin Page</title>
    <link href="css/angular-bootstrap.css" rel="stylesheet">
    <link href="css/local.css" rel="stylesheet">
    <base href="/">
</head>

<body>
<div class="container">
    <div ng-controller="ad1" ng-cloak class="ng-cloak">
        <h1>Admin page for SpringDo</h1>
        <p>Logged in as:  {{springdoUserName}}</p>

        <h2>List of all users</h2>
        <div ng-repeat="user in listofusers">
            <div ng-include src="'adminuser.html'"></div>
        </div>

        <h2>List of all stories</h2>
        <div ng-repeat="item in listofitems">
            <div ng-include src="'adminitem.html'"></div>
        </div>
    </div>

    <br>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    <form action="/index.html" method="get">
        <input type="submit" value="User View"/>
    </form>

    <!-- Partial for list of items -->
    <script type="text/ng-template" id="adminitem.html">
        <div class="list-group-item row">
            <div class="col-md-6">
                ({{item.id}}) "{{item.title}}" <i>by</i> {{item.user["username"]}}
            </div>
        </div>
    </script>

    <!-- Partial for list of users -->
    <script type="text/ng-template" id="adminuser.html">
        <div class="list-group-item row">
            <div class="col-md-6">
                <div> Username: {{user}}  <button ng-click="userDetails(user)">Retrieve Details</button>
                </div>
                <div ng-show="userQuery[user]"> Email: {{userQuery[user].email}};  Password: {{userQuery[user].password}}</div>
            </div>
        </div>
    </script>

</div>

<script src="js/angular-bootstrap.js" type="text/javascript"></script>
<script src="js/admin.js"></script>

</body>