<!DOCTYPE html>
<html ng-app="credentials">
<head>
    <meta charset="UTF-8">
    <title>SpringDo Login</title>
    <link href="css/angular-bootstrap.css" rel="stylesheet">
    <link href="css/local.css" rel="stylesheet">
    <base href="/">
</head>

<body>
<div class="container">
    <div ng-controller="credentials" ng-cloak class="ng-cloak">
        <h1>Please log into SpringDo</h1>

        <form name="credentialform" ng-submit="gosubmit()" role="form">
            <div><label> User Name : <input type="text" ng-model="username" autofocus="true"/> </label></div>
            <div><label> Password: <input type="password" ng-model="password" /> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
        <div></div>
        <div ng-click="reminder=!reminder"><b>Forgotten your password?</b></div>
        <div ng-show="reminder" class="alert alert-success">Check SpringdoApplication.java</div>


    </div>
</div>

<script src="js/angular-bootstrap.js" type="text/javascript"></script>
<script src="js/credentials.js"></script>

</body>
</html>