<!doctype html>
<html ng-app="index">
<head>
    <title>SpringDo</title>
    <link href="css/angular-bootstrap.css" rel="stylesheet">
    <link href="css/local.css" rel="stylesheet">
    <base href="/">
</head>

<body>
<div class="container">
    <div ng-controller="home" ng-cloak class="ng-cloak">
        <h1>TODO list for {{springdoUserName}}</h1>
        <div class="list-group">
            <div ng-repeat="item in listofitems">
                <div ng-include src="'itemform.html'"></div>
            </div>
        </div>
        <div type="button" class="btn btn-default btn-lg" aria-label="Add item">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"  ng-click="plusbutton()"></span>
        </div>
        <form action="/logout" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <form action="/admin.html" method="get">
            <input type="submit" value="Admin View"/>
        </form>
    </div>
</div>

<script type="text/ng-template" id="itemform.html">
    <div class="list-group-item row">
        <!-- not editing: -->
        <form name="form{{item.id}}" ng-show="!content[item.id] || (content[item.id] && !editorEnabled)">
            <div class="col-md-6">
                <div ng-click="toggleContent(item.id)">
                    <b>{{item.title}}</b>
                    <span ng-if="item.title.length == 0">-No Title-</span>
                </div>
                <div ng-show="content[item.id] && !editorEnabled">
                    <p>{{item.content}}</p>
                    <span class="glyphicon glyphicon-pencil" ng-click="goedit(item)"></span>
                    <span class="glyphicon glyphicon-trash" ng-click="godelete(item)"></span>
                </div>
            </div>
            <div class="col-md-6">Done
                <input type="checkbox" ng-model="item.done"
                       ng-true-value="'yes'" ng-false-value="'no'"
                       ng-click='onDoneClick(item)'>
            </div>
        </form>
        <!-- editing: -->
        <div ng-show="content[item.id] && editorEnabled">
            <form name="formedit{{item.id}}" ng-submit="saveedit(item)" role="form">
                <div class="form-group">
                    <input type="text" ng-model="item.titleField" class="form-control" autofocus="true"><br>
                    <textarea type="text" ng-model="item.contentField" class="form-control"></textarea><br>
                    <input type="submit" id="submit" value="Submit" class="form-control btn btn-warning">
                </div>
            </form>
        </div>
    </div>
</script>

<script src="js/angular-bootstrap.js" type="text/javascript"></script>
<script src="js/index.js"></script>
<!--  you can comment out the js/index.js include above and run with a built-in controller like so:
  <script>
    angular.module('index', []).controller('home', function ($scope, $http) {
        $scope.listofitems = [
            {id: '1', title: 'hi', content: 'Hello World!'}, {
             id: '2', title: 'bye', content: 'Bye!',
        }];
    });
</script>
-->

</body>
</html>